
@font-face {
  font-family: 'PokemonGB';
  src: url(../fonts/PokemonGb-RAeo.ttf) format('truetype');;
}

body {
  background-image: url("../img/icons/pattern-pokeball-background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 120px 120px;
  font-family: 'PokemonGB', sans-serif;
}

header {
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  width: 60%;
  background-color: white;
  border-radius: 25px;
}

h1 {
  font-size: 40px;
}

.buscador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

#search {
  width: 250px; 
  padding: 8px 12px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 0px 20px 0 20px;
  background-color: #f0f0f0;
  box-shadow: 3px 3px 3px;
}

#lupa-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px; 
  height: 45px; 
  margin-left: 10px;
  background-color: rgb(18, 222, 18);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 0;
}

#lupa-button:hover {
  background-color: #e0a353;
}

.lupa-icon {
  width: 24px; 
  height: 24px; 
}

label {
  margin-top: 10px;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.go-top {
  text-align: center;
}

#arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(18, 222, 18);
  color: #0b3002; 
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#arriba:hover {
  background-color: #0ed414;
  transform: translateY(-5px);
}

#arriba:active {
  transform: translateY(2px);
}

main {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.fila {
  display: flex; 
}

.card {
  margin: 18px;
  width: 325px;
  height: 505px;
  background-color: blue; 
  color: white;
  display: flex;
  align-items: center; 
  justify-content: center; 
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
}
