footer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

#gitIcon{
  width: 50px;
  height: 50px;
}

  .go-top {
    text-align: center;
  }

  #arriba {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    color: #0b3002; 
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    /* font-size: 12px; */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .flecha-icon{
    size: 15px;
  }
  #arriba:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(255, 255, 255, 0.5);
  }
  
  #arriba:active {
    transform: translateY(2px);
  }

