
@font-face {
  font-family: "PokemonGB";
  src: url(../fonts/PokemonGb-RAeo.ttf) format("truetype");
}

.container-tipos {
  /* background-color: rgb(174, 174, 244); */
  margin-block: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: .5rem;
  align-items: center;
  
}

.h2-tipos{
  font-size: 14px;
  color: white;
  padding: 15px;
  margin-block: 15px;
  display: flex;
}

[class^="btn-tipo-"] {
  display: grid;
  margin: 10px; 
  border-radius: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: 'PokemonGB', sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
  margin: 2px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  flex: 1 1 calc(20% - 10px);
  flex-wrap: wrap;
  /* gap: 10px; */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  background: linear-gradient(145deg, rgba(255,255,255,0.2), rgba(0,0,0,0.2));
}

.btn-tipo-acero{
  background-color: #D4C9CD;  
  background-image: url('../img/botones/acero.png');
  background-repeat: no-repeat;
  background-position: 10px center; /* Ubica la imagen a la izquierda */
  background-size: 28px 28px;
  max-width: 125px;
  padding-left: 25px;
}
.btn-tipo-agua{
  background-color: #0C79ED;
  background-image: url('../img/botones/agua.png');
  background-repeat: no-repeat;
  background-position: 10px center; /* Ubica la imagen a la izquierda */
  background-size: 28px 28px;
  max-width: 120px;
  padding-left: 25px;
}
.btn-tipo-bicho{
  background-color: #5B9B38;
  background-image: url(../img/botones/agua.png);
  background-repeat: no-repeat;
  background-position: 10px center; /* Ubica la imagen a la izquierda */
  background-size: 28px 28px;
  max-width: 125px;
  padding-left: 25px;
}
.btn-tipo-dragón{
  background-color: #6243fb; 
  background-image: url();
  max-width: 120px;
  padding-left: 25px;
}
.btn-tipo-eléctrico{
  padding-left: 50px;
  max-width: 185px;
  background-color: #FAE410; 
  background-image: url('../img/botones/acero.png');
  background-repeat: no-repeat;
  background-position: 10px center; /* Ubica la imagen a la izquierda */
  background-size: 30px 30px;
}
.btn-tipo-fantasma{
  background-color: #A688D6;
  background-image: url();
}
.btn-tipo-fuego{
  background-color: #D6491F;
  background-image: url();
}
.btn-tipo-hada{
  background-color: #D665D2;
  background-image: url();
}
.btn-tipo-hielo{
  background-color: #73AFF0;
  background-image: url();
}
.btn-tipo-lucha{
  background-color: #C22E28;
  background-image: url();
}
.btn-tipo-normal{
  background-color: #A8A77A;
  background-image: url();
}
.btn-tipo-planta{
  background-color: #17D32D;
  background-image: url();
}
.btn-tipo-psíquico{
  background-color: #F95587;
  background-image: url();
}
.btn-tipo-roca{
  background-color: #624D49;
  background-image: url();
}
.btn-tipo-tierra{
  background-color: #E2BF65;
  background-image: url();
}
.btn-tipo-veneno{
  background-color: #A33EA1;
  background-image: url();
}
.btn-tipo-volador{
  background-color: #93CDF0;
  background-image: url();
}

[class^="btn-tipo-"]:hover {
  transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.container-habitats {
  background-color: blue;
  margin-block: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.h2-habitats{
  color: white;
  padding: 15px;
  margin-block: 15px;
  display: flex;
}

[class^="btn-hab-"] {
  margin: 10px; 
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1em;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  border: none;
  font-weight: bold;
  box-shadow: 0px 2px #000000;
  flex: 1 1 calc(20% - 10px); 
  max-width: 130px; 
  max-height: 100px;
  background-size: cover; /* Ajusta la imagen para cubrir todo el área del botón */
  background-position: center;
}

.btn-hab-agua_dulce{
  background-image: url(../img/botones/agua-dulce.jpg);

}
.btn-hab-bosque{
  background-image: url(../img/botones/bosque.jpg);
  color: white;

}
.btn-hab-cueva{
  background-image: url(../img/botones/cueva.jpg);
  color: white;
}
.btn-hab-montaña{
  background-image: url('../img/botones/montaña.jpg');
  background-size: 35px 35px; /* Ajusta la imagen para cubrir todo el área del botón */
  background-position: center;
}
.btn-hab-pradera{
  background-image: url(../img/botones/pradera.jpg);

}
.btn-hab-urbano{
  background-image: url(../img/botones/urbano.jpg);

}

[class^="btn-hab-"]:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}