h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#divFormulario {
    border: solid 1px black;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 300px;
    border-radius: 5px;
}

#btn_env {
    margin-left: 50px;
    margin-top: 15px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}