@font-face {
    font-family: "PokemonGB";
    src: url(../fonts/PokemonGb-RAeo.ttf) format("truetype");
  }

h1 {
    font-family: "PokemonGB";
    text-align: center;
}

#divFormulario {
    border: solid 1px black;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 300px;
    border-radius: 5px;
    background-color: aliceblue;
}

#btn_env {
    margin-left: 50px;
    margin-top: 15px;
}

p {
    font-family: "PokemonGB";
    font-style: oblique;
}
body {
    background-color: #64757c;
}